<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>jeffe Off</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://cdn.scaledrone.com/scaledrone-lite.min.js' type='text/javascript'></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.ravenjs.com/3.24.1/raven.min.js" crossorigin="anonymous"></script>
  <script>
    Raven.config('https://56f02e2b1e2f4276b9b8054ee0eef462@sentry.io/1189247').install()
    window.socket = new Scaledrone('C7uowNKAymTnnxKU');

    if (navigator.serviceWorker.controller) {
      console.log('[PWA] active service worker found, no need to register')
    } else {
      //Register the ServiceWorker
      navigator.serviceWorker.register('sw.js', {
        scope: './'
      }).then(function(reg) {
        console.log('Service worker has been registered for scope:'+ reg.scope);
      });
    }


  </script>
  <style>
    @font-face {
      font-family: "Google Sans";
      src: url("./GoogleSans-Bold.woff2") format("woff2");
      font-weight: bold;
      font-style: normal;
    }

    body {
      font-family: 'Roboto', sans-serif;
    }

    #title {
      font-family: "Google Sans" !important;
      font-size: 20px;
    }

    .cards {
      height: 200px;
      width: 99%;
      position: relative;
    }

    .bottom {
      position: absolute; 
      bottom: 0; 
      width: 100%; 
      height: 50px; 
    }
  </style>
</head>
<body>

  <header class="mdc-toolbar mdc-toolbar--fixed" style="background-color: #FFFFFF">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <span class="mdc-toolbar__title" id="title" style="color: #717171; font-size: 35px">jeffe</span>
        <span class="mdc-toolbar__title" id="title" style="color: #999999; font-size: 35px; margin-left: 10px">Off</span>
      </section>
    </div>
  </header>

  <div id="🤔" style="margin-top: 80px"></div>
  
  <script type="text/babel">
  
    class Main extends React.Component {
      constructor() {
        super()

        this.state = {
          online: false,
          ihmiset: [{nimi: 'Emma', online: false}, {nimi: 'Juuso', online: false}, {nimi: 'Eetu', online: false}]
        }

        setInterval(() => {
          socket.publish({
            room: 'listComputers',
            message: {}
          })
        }, 7000)

        let doneSocket = socket.subscribe('done')
        let onlineRoom = socket.subscribe('online')

        onlineRoom.on('data', (d) => {
          this.state.ihmiset.forEach((data, index) => {
            let nimi = data.nimi.toLowerCase()
            if(nimi == d) {
              let ihmiset = this.state.ihmiset
              ihmiset[index].online = true
              this.setState({
                ihmiset
              })
            }
          })
        })

        doneSocket.on('data', data => {
          if(data == 'juuso') {
            swal('Juuson kone on sammutettu', '😃😃', 'success')
          }
          if(data == 'emma') {
            swal('Emman kone on sammutettu', '😃😃' , 'success')
          }
          if(data == 'eetu') {
            swal('Emman kone on sammutettu', '😃😃' , 'success')
          }
        });

        socket.on('open', event => {
          this.setState({
            online: true
          })

          socket.publish({
            room: 'listComputers',
            message: {}
          })
        });
      }

      handleShutdown (nimi) {
        if(!nimi) return
        let room = nimi.toLowerCase()
        socket.publish({
          room: room,
          message: room
        })
      }

      render() {
        let { online } = this.state
        let cards = this.state.ihmiset.map(data => (
          <div className="mdc-card cards" style={{margin: "5px", float: "left", marginRight: "20px"}} key={data.nimi}>
            <span className="mdc-toolbar__title" id="title" style={{color: "#303030", fontSize: "35px", padding: "10px", marginLeft: "0px", marginTop: "10px"}}>{data.nimi}</span>
            <div style={{marginTop: "20px"}}>
              <span className="mdc-toolbar__title" id="title" style={{color: "#999999", fontSize: "30px", marginLeft: "0px"}}>Kone: {data.online ? 'Päällä' : 'Off'}</span>
            </div>

            { data.online && (
              <div className="mdc-card__actions bottom">
                <div className="mdc-card__action-buttons">
                  <button className="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" style={{backgroundColor: '#03a9f4'}} onClick={() => {this.handleShutdown(data.nimi)}}>Sammuta Tietokone</button>
                </div>
              </div>
            )}
          </div>
        ))

        return (
          <center>

            {cards}
          </center>
        )
      }
    }

    ReactDOM.render(<Main />, document.getElementById("🤔"))

  </script>
</body>
</html>